# Required variables
bamboo_JIRA_Server: http://localhost:8080
bamboo_Bamboo_Server: http://localhost:8085
bamboo_Atlassian_User: admin
bamboo_Atlassian_Password: password
bamboo_Sprint_Field: customfield_10005
bamboo_Build_Result: TEST-PLAN-DELIVER-42

# Optional variables
bamboo_Branch_Name: master
bamboo_Release_Notes_Issue_Type: User Story, New Feature, Bug
bamboo_Release_Notes_Issue_Status: Closed, In Progress
bamboo_Release_Notes_Message: Hello customer, this release contains all the things!